#let(table = [
    "title": "Logs",
    "create": false,
    "key": "analytics.logs"
])

#define(css):
@media (min-width: 600px) {
    tr {
        grid-template-columns: 1fr 200px;
    }
}
#enddefine
#define(th):
    #var(link = nil)
    <th class="td:left m:h:s">#(link = ["key": "path"])#inline("Admin/SortLink")</th>
    <th class="td:center m:h:s">#(link = ["key": "date", "default": true, "sort": "desc"])#inline("Admin/SortLink")</th>
#enddefine
#define(tr):
    #for(item in list.items):
<tr>
    <td class="td:left m:h:s">
        <a href="#($req.url.path)#(item.id)/">#(item.path)</a>
    </td>
    <td class="td:left m:h:s">
        <a href="#($req.url.path)#(item.id)/">
            #Date(timeStamp: item.date, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone)
        </a>
    </td>
</tr>
    #endfor
#enddefine

#inline("Admin/Table")

