#let(detail = [
    "title": "Log",
    "key": "analytics.logs",
    "edit": false,
    "delete": false,
    "list": [
        "title": "Logs",
        "url": "/admin/analytics/logs/"
    ]
])

#define(details):
    <dl>
        <dt>Id</dt>
        <dd>#(model.id)</dd>

        <dt>Path</dt>
        <dd>#(model.path)</dd>

        
        
        <dt>Date</dt>
        <dd>#Date(timeStamp: model.date, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone)</dd>

        <dt>Language, region</dt>
        <dd>#(model.language), #(model.region)</dd>

        <dt>Browser</dt>
        <dd>#(model.browser.name), #(model.browser.version)</dd>
        
        <dt>Operating system</dt>
        <dd>#(model.os.name), #(model.os.version)</dd>

    </dl>
#enddefine
#inline("Admin/Detail")
