#define(css):
\#analytics-overview svg {
    color: \#fa3ebe;
}
\#analytics-overview .bar-chart {
    background: \#21a9ff;
    background: -webkit-linear-gradient(to right, \#12c2e9, \#21a9ff);
    background: linear-gradient(to right, \#12c2e9, \#21a9ff);
    color: \#000;
}
@media (prefers-color-scheme: dark) {
    \#analytics-overview svg {
        color: \#21a9ff;
    }
    \#analytics-overview .bar-chart {
        background: \#f80759;
        background: -webkit-linear-gradient(to right, \#f80759, \#fa3ebe);
        background: linear-gradient(to right, \#f80759, \#fa3ebe);
        color: \#fff;
    }
}
#enddefine

#define(toolbarCenter):
    Analytics
#enddefine

#define(body):

<div id="analytics-overview" class="container">

    <header class="margin-bottom">
        <h1 class="margin-top-zero">Analytics</h1>
        <p class="margin-top-zero">Overview</p>
    </header>
    <section>

        <div class="padding border-radius-s background margin-bottom border-xs border-color-2">
            <span>#svg("eye", class: "size")</span>
            <h2 class="margin-top-zero">Total page views</h2>
            <p class="h1 margin-top-zero margin-bottom-s">#(totalPageViews)</p>
        </div>

        #for(metric in metrics):
        <div class="padding border-radius-s background margin-bottom border-xs border-color-2">
            <span>#svg(metric.icon, class: "size")</span>
            <h2 class="margin-top-zero margin-bottom-s">#(metric.name)</h2>
            <ul class="list-style-off">
            #for(group in metric.groups):
                <li class="margin-bottom-s">
                    <div class="grid-2" style="grid-template-columns: 1fr 32px;">
                        <div class="grid-col1">#(group.name) &middot; #(group.count)</div>
                        <div class="grid-col1 text-align-right">#(group.percent)%</div>
                    </div>
                    <span class="displayblock border-radius-xs bar-chart" style="width: #(group.percent)%;">
                        <span class="padding-s"></span>
                    </span>
                </li>
            #endfor
            </ul>
        </div>
        #endfor
    </section>
</div>
#enddefine

#inline("Admin/Index")
